<!-- <section class="head" style="background-color: rgba(0, 0, 0, 0.5); color: black;"> -->
    <section class="head">
    <div class="container flexSB" style="display: flex; align-items: center;">
        <div class="logo">
            <h1>UTEC</h1>
            <span>EDUCATION & EMPLOIS</span>
        </div>

        <div class="social" style="margin-left: auto;">
            <a class="social-icon" href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="social-icon" href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="social-icon" href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
</section>
