<footer class="footer">
        <div class="container" style="display: flex;">
            <!-- Conteneur pour l'image -->
            <div style="flex: 1;">
                <!-- <img class="logoo" src="assets/images/LL.png" alt=""> -->
            </div>
    
            <!-- Conteneur pour tout le contenu à droite de l'image -->
            <div style="flex: 3; display: flex; flex-direction: column; justify-content: space-between;">
                <div class="content-right">
                    <div class="links" style="display: flex; justify-content: space-between;">
                        <div>
                            <ul>
                                <li>Services</li>
                                <li><a class="footer-nav__link" href="#">Accueil</a></li>
                                <li><a class="footer-nav__link" href="#">Contact</a></li>
                                <li><a class="footer-nav__link" href="#">A propos</a></li>
                                <li><a class="footer-nav__link" href="#">Termes &amp; Conditions</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li>Employeur</li>
                                <li><a class="footer-nav__link" href="/mon-espace/ajouter-offre">Publier une annonce</a></li>
                                <li><a class="footer-nav__link" href="#">Trouver un CV</a></li>
                                <li><a class="footer-nav__link" href="https://www.tanitjobs.com/login/">Connexion</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li>Chercheur d'emploi</li>
                                <li><a class="footer-nav__link" href="/jobs">Trouver un emploi</a></li>
                                <li><a class="footer-nav__link" href="/actualites">Trouver un évènement</a></li>
                                <li><a class="footer-nav__link" href="/login">Connexion</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li>Réseaux</li>
                                <li><a class="fa fa-facebook" href="https://www.facebook.com" target="_blank"></a></li>
                                <li><a class="fa fa-twitter" href="https://twitter.com/tanitjobscom" target="_blank"></a></li>
                                <li><a class="fa fa-viadeo" href="http://tn.viadeo.com/fr/profile/tanit.jobs" target="_blank"></a></li>
                                <li><a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/tanitjobs-com-32860250/" target="_blank"></a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="footer-bottom" style="text-align: center; padding-top: 20px;">
                        © 2023-2024 All Rights Reserved
                        <a href="" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    