<header id="header" class="header" *ngIf="showHeader" >
    <!-- <section class="head">
        <div class="container flexSB">
            <div class="logo">
                <h1>CAMPUS CONNECT</h1>
                <span>EDUCATION & LEARNING</span>
            </div>

            <div class="social">
                <a class="fa fa-facebook" href="https://www.facebook.com" target="_blank"></a>
                <a class="fa fa-twitter" href="https://twitter.com/tanitjobscom" target="_blank"></a>
                <a class="fa fa-viadeo" href="http://tn.viadeo.com/fr/profile/tanit.jobs" target="_blank"></a>
                <a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/tanitjobs-com-32860250/" target="_blank"></a>
            </div>
        </div>
    </section> -->
    
    <nav class="nav container flex">
        <a href="#" class="logo-content flex">
            <img class="logoo" src="assets/images/LL.png" alt="">
        </a>
        <div class="menu-content">
            <ul class="menu-list flex">              
                <li><a routerLink="/" class="nav-link active-navlink" routerLinkActive="active-navlink">Accueil</a></li>
                <li><a routerLink="/jobs" class="nav-link" routerLinkActive="active-navlink">Offres</a></li>
                <li><a routerLink="/actualites" class="nav-link" routerLinkActive="active-navlink">Actualite</a></li>
                <li><a routerLink="/espcae-entreprise" class="nav-link" routerLinkActive="active-navlink">Espace Entreprise</a></li>
                <li><a routerLink="/travaux-de-recherche" class="nav-link" routerLinkActive="active-navlink">Thèse DR</a></li>
                <li><a routerLink="/espace-employeur" class="nav-link" routerLinkActive="active-navlink">Espcae Condidat</a></li>
            </ul>
        </div>

        <div class="contact-content flex">
            <i class='bx bx-phone phone-icon'></i>
            <ng-container *ngIf="isLogged">
                <span class="phone-number" routerLink="/mon-espace/mon-profile">Mon profile</span>
            </ng-container>
            <ng-container *ngIf="!isLogged">
                <span class="phone-number" routerLink="/login">Connexion</span>
            </ng-container>
        </div>

        <i class='bx bx-menu navOpen-btn'></i>
    </nav>
</header>
