.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
}
.form-group{
    display: inline-grid;
}
.card {
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 1px 15px 1px #2727271a
}
.card-user{
    BACKGROUND: #fff;
    padding-left: 29px;
    margin-left: 42px;
    margin-top: 17px;
    width: 93%;
    margin-right: 71px;
}
.card .card-body {
    padding: 15px 15px 10px
}

.card .card-body.table-full-width {
    padding-left: 0;
    padding-right: 0
}

.card .card-header {
    padding: 15px 15px 0;
    border: 0
}
.form-group {
    margin-bottom: 10px;
    position: relative;
    margin-left: 20px;
    
}

.card{
    BACKGROUND: #fff;
    padding-left: 29px;
    margin-left: 42px;
    margin-top: 17px;
    width: 93%;
    margin-right: 71px;
}
.form-control {
    background-color: #fff;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    color: #2c2c2c;
    line-height: normal;
    font-size: .8571em;
    height: auto;
    transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
    box-shadow: none;
    height: 35px;
}

.card .card-header:not([data-background-color]) {
    background-color: transparent
}

.card .card-header .card-title {
    margin-top: 10px
}

.card .map {
    border-radius: .1875rem
}

.card .map.map-big {
    height: 400px
}

.card[data-background-color=orange],.card[data-background-color=orange] .card-header {
    background-color: #f96332
}

.card[data-background-color=orange] .card-footer .stats {
    color: #fff
}

.card[data-background-color=red] {
    background-color: #ff3636
}

.card[data-background-color=yellow] {
    background-color: #ffb236
}

.card[data-background-color=blue] {
    background-color: #2ca8ff
}

.card[data-background-color=green] {
    background-color: #18ce0f
}

.card .image {
    overflow: hidden;
    height: 200px;
    position: relative
}

.card .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px
}

.card label {
    font-size: .8571em;
    margin-bottom: 5px;
    color: #9a9a9a
}

.card .card-footer {
    background-color: transparent;
    border: 0
}

.card .card-footer .stats i {
    margin-right: 5px;
    position: relative;
    top: 2px
}

.card .card-footer .btn {
    margin: 0
}

.card-plain {
    background: transparent;
    box-shadow: none
}

.card-plain .card-header,.card-plain .card-footer {
    margin-left: 0;
    margin-right: 0;
    background-color: transparent
}

.card-plain:not(.card-subcategories).card-body {
    padding-left: 0;
    padding-right: 0
}

.card-chart .card-header .card-title {
    margin-top: 10px;
    margin-bottom: 0
}

.card-chart .card-header .card-category {
    margin-bottom: 5px
}

.card-chart .table {
    margin-bottom: 0
}

.card-chart .table td {
    border-top: none;
    border-bottom: 1px solid #e9ecef
}

.card-chart .card-progress {
    margin-top: 30px
}

.card-chart .chart-area {
    height: 190px;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px
}

.card-chart .card-footer {
    margin-top: 15px
}

.card-chart .card-footer .stats {
    color: #9a9a9a
}

.card-chart .dropdown {
    position: absolute;
    right: 20px;
    top: 20px
}

.card-chart .dropdown .btn {
    margin: 0
}

.card-user .image {
    height: 120px
}

.card-user .author {
    text-align: center;
    text-transform: none;
    margin-top: -77px
}

.card-user .author a+p.description {
    margin-top: -7px
}

.card-user .avatar {
    width: 124px;
    height: 124px;
    border: 1px solid #FFFFFF;
    position: relative
}

.card-user .card-body {
    min-height: 240px
}

.card-user hr {
    margin: 5px 15px
}

.card-user .button-container {
    margin-bottom: 6px;
    text-align: center
}

.map {
    height: 500px
}

.update-button{
    outline: none;
    margin-top: 38px;
    margin-left: 6px;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    height: 40px;
    width: 133px;
    background: #2697FF;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
}
.card-body input{
    outline: none;
}
.file-upload{
    
    color: #fff;
    background: #288b00;
    border: none;
    border-radius: 10px;
    height: 28px;
    width: 86px;
    margin-bottom: 8px;
}

.sidebar{
    position: fixed;
    height: 100%;
    width: 240px;
    background: #0A2558;
    transition: all 0.5s ease;
  }
  .sidebar.active{
    width: 60px;
  }
  .sidebar .logo-details{
    height: 80px;
    display: flex;
    align-items: center;
  }
  .sidebar .logo-details i{
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center
  }
  .sidebar .logo-details .logo_name{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
  }
  .sidebar .nav-links{
    margin-top: 10px;
    margin-left: -50px;
  }
  .sidebar .nav-links li{
    position: relative;
    list-style: none;
    height: 50px;
  }
  .sidebar .nav-links li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li a.active{
    background: #081D45;
  }
  .sidebar .nav-links li a:hover{
    background: #081D45;
  }
  .sidebar .nav-links li i{
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
  }
  .sidebar .nav-links li a .links_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
  }
  .sidebar .nav-links .log_out{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .home-section{
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
  }
  .sidebar.active ~ .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .home-section nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
  }
  .sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav .sidebar-button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
  }
  nav .sidebar-button i{
    font-size: 35px;
    margin-right: 10px;
  }
  .home-section nav .search-box{
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
  }
  nav .search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
  }
  nav .search-box .bx-search{
    position: absolute;
    height: 40px;
    width: 40px;
    background: #2697FF;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
  }
  .home-section nav .profile-details{
    margin-right: 35px;
    display: flex;
    align-items: center;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
  }
  nav .profile-details img{
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
  }
  nav .profile-details .admin_name{
    display: grid;
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
  }
  nav .profile-details i{
    font-size: 25px;
    color: #333;
  }
  .home-section .home-content{
    position: relative;
    padding-top: 104px;
  }
  .home-content .overview-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
  }
  .overview-boxes .box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(85% / 4 - 15px);
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
  .overview-boxes .box-topic{
    font-size: 20px;
    font-weight: 500;
  }
  .home-content .box .number{
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 500;
  }
  .home-content .box .indicator{
    display: flex;
    align-items: center;
  }
  .home-content .box .indicator i{
    height: 20px;
    width: 20px;
    background: #8FDACB;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
  }
  .box .indicator i.down{
    background: #e87d88;
  }
  .home-content .box .indicator .text{
    font-size: 12px;
  }
  .home-content .box .cart{
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
  }
  .home-content .box .cart.two{
     color: #2BD47D;
     background: #C0F2D8;
   }
  .home-content .box .cart.three{
     color: #ffc233;
     background: #ffe8b3;
   }
  .home-content .box .cart.four{
     color: #e05260;
     background: #f7d4d7;
   }
  .home-content .total-order{
    font-size: 20px;
    font-weight: 500;
  }
  .home-content .sales-boxes{
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
  }
  
  /* left box */
  .home-content .sales-boxes .recent-sales{
    width: 65%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .home-content .sales-boxes .sales-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sales-boxes .box .title{
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 10px; */
  }
  .sales-boxes .sales-details li.topic{
    font-size: 20px;
    font-weight: 500;
  }
  .sales-boxes .sales-details li{
    list-style: none;
    margin: 8px 0;
  }
  .sales-boxes .sales-details li a{
    font-size: 18px;
    color: #333;
    font-size: 400;
    text-decoration: none;
  }
  .sales-boxes .box .button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .sales-boxes .box .button a{
    color: #fff;
    background: #0A2558;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .sales-boxes .box .button a:hover{
    background:  #0d3073;
  }
  
  /* Right box */
  .home-content .sales-boxes .top-sales{
    width: 35%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px 0 0;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .sales-boxes .top-sales li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }
  .sales-boxes .top-sales li a img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 12px;
    margin-right: 10px;
    background: #333;
  }
  .sales-boxes .top-sales li a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .sales-boxes .top-sales li .product,
  .price{
    font-size: 17px;
    font-weight: 400;
    color: #333;
  }
  /* Responsive Media Query */
  @media (max-width: 1240px) {
    .sidebar{
      width: 60px;
    }
    .sidebar.active{
      width: 220px;
    }
    .home-section{
      width: calc(100% - 60px);
      left: 60px;
    }
    .sidebar.active ~ .home-section{
      /* width: calc(100% - 220px); */
      overflow: hidden;
      left: 220px;
    }
    .home-section nav{
      width: calc(100% - 60px);
      left: 60px;
    }
    .sidebar.active ~ .home-section nav{
      width: calc(100% - 220px);
      left: 220px;
    }
  }
  @media (max-width: 1150px) {
    .home-content .sales-boxes{
      flex-direction: column;
    }
    .home-content .sales-boxes .box{
      width: 100%;
      overflow-x: scroll;
      margin-bottom: 30px;
    }
    .home-content .sales-boxes .top-sales{
      margin: 0;
    }
  }
  @media (max-width: 1000px) {
    .overview-boxes .box{
      width: calc(100% / 2 - 15px);
      margin-bottom: 15px;
    }
  }
  @media (max-width: 700px) {
    nav .sidebar-button .dashboard,
    nav .profile-details .admin_name,
    nav .profile-details i{
      display: none;
    }
    .home-section nav .profile-details{
      height: 50px;
      min-width: 40px;
    }
    .home-content .sales-boxes .sales-details{
      width: 560px;
    }
  }
  @media (max-width: 550px) {
    .overview-boxes .box{
      width: 100%;
      margin-bottom: 15px;
    }
    .sidebar.active ~ .home-section nav .profile-details{
      display: none;
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  
  
  
  
  .pic {
      width: 50px;
      height: 50px;
      object-fit: contain;
  }
  
  .table thead {
    background-color: #081D45;
  }
  
  .table thead th {
      padding: 30px;
      font-size: 14px;
      color: white;
  }
  
  .table tbody td input[type="checkbox"] {
      appearance: none;
      width: 20px;
      height: 20px;
      background-color: #eee;
      position: relative;
      border-radius: 3px;
      cursor: pointer;
  }
  
  .container .table-wrap {
  
      margin: 20px auto;
      overflow-x: auto
  }
  
  .container .table-wrap::-webkit-scrollbar {
      height: 5px;
  }
  
  .container .table-wrap::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-image: linear-gradient(to right, #5D7ECD, #0C91E6);
  }
  
  .table>:not(caption)>*>* {
      padding: 2rem 0.5rem;
  }
  
  .input {
      width: 30px;
      height: 30px;
      color: black;
      font-weight: 600;
      outline: none;
      padding: 8px;
  }
  
  ::placeholder {
      color: black;
      font-weight: 600;
  }
  
  .table tbody td input[type="checkbox"]:after {
      position: absolute;
      width: 100%;
      height: 100%;
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      content: "\f00c";
      color: #fff;
      font-size: 15px;
      display: none
  }
  
  .table tbody td input[type="checkbox"]:checked,
  .table tbody td input[type="checkbox"]:checked:hover {
      background-color: #21cf95;
  }
  
  .table tbody td input[type="checkbox"]:checked::after {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .table tbody td input[type="checkbox"]:hover {
      background-color: #ddd;
  }
  
  .table tbody td {
      padding: 30px;
      margin: 0;
      font-size: 14.5px;
      font-weight: 600;
  }
  
  .table tbody td .fa-times {
      color: #D32F2F;
  }
  
  
  .text-muted {
      font-size: 12.5px;
  }
  
  .table tbody tr td:nth-of-type(3) {
    min-width: 235px;
    padding-left: 23px;
       
  }
  .delete{
   font-size: 26px;
    color: #ff0303;
    cursor: pointer;
  }
  @media(min-width: 992px) {
      .container .table-wrap {
          overflow: hidden;
      }
  }
  img{
    
    width: 50%;
    margin-left: 17%;
    
  }


  .container{
    position: relative;
    max-width: 1235px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #b1a6a6;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }

  
  input{
    width: 21%;
    margin-bottom: 3%;
    margin-top: 9px;
  }

  .pag{
    display: flex;
    justify-content: center;
  }
  