

td{
    background-color:#043c61
    }
    .errorM{
        background: red;
        width: 76%;
        font-size: 15px;
        font-weight: bold;
        margin-left: 53px;
        text-align: center;
        color: white;
        margin-top: 22px;
        border-radius: 22px;
    }

    .panel {
        width: 596px !important;
        margin-left: -146px !important;
        margin-top: 118px !important;
        background-color: #043c61;
       
    }
    input{
        height: 37px;
    }
   

    .outer{
        height: 100vh;
        
    }
    .panel-heading{
        margin-bottom: -10px;
        PADDING: 21PX;
        background-color: #043c61;
    }
    
    #forget{
        min-width: 100px;
        margin-left: auto;
        text-decoration: none;
        cursor: pointer;
    }
    
    a:hover{
        text-decoration: none;
    }
    
    .form-inline label{
        padding-left: 10px;
    margin: 0;
    cursor: pointer;
    }
    
    .btn{
        margin-top: 20px;
        border-radius: 15px;
    }
    
    .panel{
        margin-top: 48px;
        min-height: 381px;
        border-radius: 12px;
     
    }
    .input-field{
        border-radius: 12px;
        padding: 5px;
        display: flex;
        cursor: pointer;
    }
    .img1{
      background-image: url("/assets/images/registre1.jpg");
      background-size: 150%; 
      margin-bottom: -10px;
padding-top: 1rem;      
      }
    
    .input-field.error{
        border:  solid red;
        color: red;
    }
    
    input[type='text'],
    input[type='password']{
        outline: none;
        box-shadow: none;
        width: 100%;
        border-radius: 12px;
        padding:25px;
    }
    
   
    
   
    
    
    
  .rejoiner{
    margin-top: 25px;
    margin-left: 220px;
    color: white;
    background-color: #043c61;
  }

  .or{
    color: rgb(207, 204, 204);
  }

  .link{
    cursor: pointer;
    color: #f8f6f6;
    text-decoration: none!important;
  }

  .link:hover{
    color: #e7d10a;
  }

  nav{
    margin-left: 26%;
    margin-top: 17%;
    margin-right: 27%;

  }

  
  /*.nav-tabs {
    flex-flow: nowrap;
    width: 50%;
    margin-left: -150px;
   

}*/
.nav-tabs {
  background-color: #8cc1e498;
  border: 3px solid #dee2e6c8;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10%;
  margin-right: 67%;


}

/* .nav-link {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 4px;
  margin-right: 400px;
  
}
.nav-link.active {
  background-color: #0056b3;
  border-color: #0056b3;
} */

body {
  font-family: Arial, sans-serif; /* Use a modern, clean font */
}

.nav-tabs {
  display: flex;
  justify-content: center; /* Center the nav items */
  list-style-type: none;
  background-color: #33333300; /* Dark background for the nav bar */
  margin: 0;
  padding: 0;
}

.nav-link {
  display: block;
  padding: 10px 15px;
  color: white; /* Light color for text */
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.nav-link:hover, .nav-link.active {
  background-color: hsla(241, 43%, 53%, 0.723); /* Slightly lighter background on hover */
  color: #ffffff; /* Highlight color for text */
}

.nav-link:focus {
  outline: none;
}
@media (max-width: 600px) {
  .nav-tabs {
      flex-direction: column; /* Stack the nav items on smaller screens */
  }
}


.container {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}
  .tab-content{
    margin-left: -3%;
    margin-top: -71px;
  }
  .h3{
    color: rgb(255, 255, 255);
    text-align: center;
  }

  
  .btn-primary{
   
      height: 55px;
      width: 25%;
      color: #000000;
      font-size: 2rem;
      font-weight: 400;
      margin-top: 30px;
      border-radius: 150px;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease;
      background: rgb(251, 236, 106);
    }
    .btn-primary:hover {
      background: rgb(31, 235, 4);
    }
    .pannel-body.p-3 {
      background-color: #043c61;
    }
  







    * {
      margin: 0;
    
      padding: 0;
    
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
    
    section {
      display: flex;
    
      justify-content: center;
    
      align-items: center;
    
      min-height: 139vh;
    
      width: 100%;
    
    /*background: url("https://i.postimg.cc/SxB07GjW/beach-bg.jpg") no-repeat;*/
    
      background-position: center;
    
      background-size: cover;
    }
    
    .form-box {
      position: relative;
    
      width: 400px;
    
      height: 450px;
    
      background: transparent;
    
      border: none;
    
      border-radius: 20px;
    
      backdrop-filter: blur(15px) brightness(80%);
    
      display: flex;
    
      justify-content: center;
    
      align-items: center;
      margin-top: -10%;

    }
    
    h2 {
      font-size: 2em;
    
      color: #fff;
    
      text-align: center;
    }
    
    .inputbox {
      position: relative;
    
      margin: 30px 0;
    
      width: 310px;
    
      border-bottom: 2px solid #fff;
    }
    
    .inputbox label {
      position: absolute;
    
      top: 50%;
    
      left: 5px;
    
      transform: translateY(-50%);
    
      color: #fff;
    
      font-size: 1em;
    
      pointer-events: none;
    
      transition: 0.5s;
    }
    
    /* animations: start */
    
    input:focus ~ label,
    input:valid ~ label {
      top: -5px;
    }
    
    /* animation:end */
    
    .inputbox input {
      width: 100%;
    
      height: 50px;
    
      background: transparent;
    
      border: none;
    
      outline: none;
    
      font-size: 1em;
    
      padding: 0 35px 0 5px;
    
      color: #fff;
    }
    
    .inputbox ion-icon {
      position: absolute;
    
      right: 8px;
    
      color: #fff;
    
      font-size: 1.2em;
    
      top: 20px;
    }
    
    .forget {
      margin: -10px 0 17px;
    
      font-size: 0.9em;
    
      color: #fff;
    
      display: flex;
    
      justify-content: space-between;
    }
    
    .forget label input {
      margin-right: 3px;
    }
    
    .forget a {
      color: #fff;
    
      text-decoration: none;
    }
    
    .forget a:hover {
      text-decoration: underline;
    }
    
    button {
      width: 100%;
    
      height: 40px;
    
      border-radius: 40px;
    
      background-color: #fff;
    
      border: none;
    
      outline: none;
    
      cursor: pointer;
    
      font-size: 1em;
    
      font-weight: 600;
    }
    
    .register {
      font-size: 0.9em;
    
      color: #fff;
    
      text-align: center;
    
      margin: 25px 0 10px;
    }
    
    .register p a {
      text-decoration: none;
    
      color: #fff;
    
      font-weight: 600;
    }
    
    .register p a:hover {
      text-decoration: underline;
    }
    
    header-app {
      margin-top: 20px;
     
    }
     
    
    /* Responsiveness:Start */
    @media screen and (max-width: 480px) {
      .form-box {
        width: 100%;
        border-radius: 0px;
      }
    }
    /* Responsiveness:End */
    .slide {
      position: relative;
    }
    .slideshow {
      width: 100%; 
      height: 1px;
    
  
  }
    .scroll-down-circle {
      position: absolute;
      bottom: 400px;
      right: 20px;
      font-size: 24px;
      color: #fff;
     
        position: absolute;
        width: 40px;
        height: 40px;
        background: hsla(241, 43%, 53%, 0.723);
        -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        /* color: #000; */
        animation: bounce 0.5s infinite alternate;
    
    }
    @keyframes bounce {
      0% {
          transform: translateY(0);
      }
      100% {
          transform: translateY(40px);
      }
    }
    .logo{
      left: -20px;
    }
    .content-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour le contenu */
      color: rgb(8, 8, 8); /* Couleur du texte */
      padding: 0px; /* Espacement du contenu */
      box-sizing: border-box;
    }
    
    .fa {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
    .brand-images {
      display: flex;
      padding-top: 5rem;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px; /* Ajustez cette valeur pour l'espace souhaité */
    }
    
    .brand-image {
      flex: 1;
      text-align: center;
    }
    
    .brand-img {
      max-width: 100%;
      height: auto;
    }
    .panel-heading{
        text-align: center;
        margin-bottom: 10px;
        PADDING: 21PX;
    }
    .social-icons {
      display: flex;
      justify-content: center;
      align-items: center;
    }

.image{
  background-image: url('../../../assets/images/1234.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
    
    .social-icon {
      margin: 2rem;
      padding: 1rem;
      width: 4rem;
      color: #F0F4F4;
      height: 4rem;
      border: 2px solid #fff;
      background: hsla(241, 43%, 53%, 0.723);
      -webkit-backdrop-filter: blur(10px);
              backdrop-filter: blur(10px);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      cursor: pointer;
      transition: all 0.3s;
    }
    
    .social-icon:hover {
      background-image: linear-gradient(to right, #10b5ca, #00a5c4, #0094bd, #0084b3, #0378af);
    }
    @media screen and (max-width: 600px) {
      form input {
        width: 60%;
      }
    }
    
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Spartan:wght@300;400;500&display=swap");
    :root {
      --Primaryvolecolor: hsl(225, 50%, 48%);
      --SecondaryVolecolor: hsl(180, 17%, 95%);
      --colorOnevole: hsl(15, 74%, 70%);
      --colorTwovole: hsl(28, 100%, 82%);
      --HoverColorvole: hsl(225, 56%, 59%);
      --whiteColorvole: hsl(0, 0%, 100%);
      --blackColorvole: hsl(0, 0%, 12%);
      --textColorvole: hsl(240, 1%, 48%);
      --borderColorvole: hsl(0, 0%, 83%);
      --whiteColorDeamvole: hsl(0, 0%, 93%);
      --greyBgvole: hsl(0, 0%, 96%);
      --greyTextvole: rgb(145, 145, 145);
      --inputColorvole: hsl(330, 12%, 97%);
      --boxShadowvole: box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      --transition: .4s ease-in-out;
    }